<footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">
              <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
                <a class="text-[#9e8747] text-base font-normal leading-normal min-w-40" href="index.html">Home</a>
                <a class="text-[#9e8747] text-base font-normal leading-normal min-w-40" href="pages/gallery.html">Events Gallery</a>
                <a class="text-[#9e8747] text-base font-normal leading-normal min-w-40" href="pages/about.html">About Us</a>
                <a class="text-[#9e8747] text-base font-normal leading-normal min-w-40" href="pages/contact.html">Contact</a>
              </div>
              <p class="text-[#9e8747] text-base font-normal leading-normal">@2025 RHM Events &amp; Weddings. All rights reserved.</p>
            </footer>
          </div>
</footer>

        <!-- <script>
  // Adjust navbar links if loaded from a subdirectory
  if (window.location.pathname.includes('/pages/')) {
    document.getElementById('logo-img').src = '../assets/images/logos/logo.jpg';
    document.getElementById('nav-home').href = '../index.html';
    document.getElementById('nav-gallery').href = 'gallery.html';
    document.getElementById('nav-about').href = 'about.html';
    document.getElementById('nav-contact').href = 'contact.html';
  }
</script> -->