<footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">
              <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
                <a class="text-[#9e8747] text-base font-normal leading-normal min-w-40" href="/index.html">Home</a>
                <a class="text-[#9e8747] text-base font-normal leading-normal min-w-40" href="pages/gallery.html">Portfolio</a>
                <a class="text-[#9e8747] text-base font-normal leading-normal min-w-40" href="/pages/about.html">About Us</a>
                <a class="text-[#9e8747] text-base font-normal leading-normal min-w-40" href="/pages/contact.html">Contact</a>
              </div>
              <p class="text-[#9e8747] text-base font-normal leading-normal">@2024 RHM Events &amp; Weddings. All rights reserved.</p>
            </footer>
          </div>
        </footer>